.logo-img {
    width: 45%;
    transition: filter 0.3s ease;
}

.light .is-scrolled .logo-img {
    filter: invert(1);
}

#hero-image {
    width: 70%;
    z-index: -1;
}

.videoloop {
    display: none;
}

.ctaCarossel {
    background: #bdff93;
    color: white;
}

.videoloopmobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    backdrop-filter: blur(5px);
}

.alltitles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 13px;
}

.maintitle {
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: white;
    display: flex;
    flex-direction: column;

    text-align: center;
}

.inner-conecte {
    display: flex;
    flex-direction: column;
}

.subtitle {
    width: 74%;
    margin: auto;
    color: white;
}

#services {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(to bottom, #f9f9f900, var(--blueservicesgradient));
    background-size: contain;
    color: #fff;
    height: fit-content;
}

.humanSection {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.humancontainer {
    background-color: #faecec;
    width: 95%;
    height: 520px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url('/images/ITCOMPLETEBANNER-mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.humancontainer-wrapper-one {
    width: 100%;
    height: 50%;
    padding: 1rem;
    padding-top: 3rem;
    color: white;
    font-size: 1.8rem;
    overflow: visible;
}

.humancontainer-wrapper-two {
    width: 100%;
    height: 20%;
    overflow: visible;
}

.humancontainer-wrapper-one-text {
    border-radius: 15px;
    padding: 10px;
}

.humancontainer-wrapper-one-text p {
    font-size: 1.1rem;
}



#human {
    width: 200% !important;
}

#herosection {
    background-color: #1b1b1b;
}



.overlaybackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .5;
    background: linear-gradient(to bottom, rgb(16, 79, 32), #1b1b1b);
    background-size: cover;
}



.inner-conecte {
    line-height: 30px;
}

.conecte.one {
    font-size: 1.2rem;
    height: fit-content;
}

.conecte.two {
    font-size: 1.8rem;
    height: fit-content;
}

.conecte.two:hover {
    color: #bdff93;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.conecte.three {
    font-size: 2.8rem;
    color: #bdff93;
}

.subtitle {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 1px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .subtitle {
        width: 70%;
    }

    .humancontainer {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {

    #herosection {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .videoloop {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        backdrop-filter: blur(5px);
    }

    .videoloopmobile {
        display: none;
    }

    .overlaybackground {
        background: linear-gradient(to bottom, rgb(16, 79, 32), var(--foreground)), url('/images/gradient-noise.svg');
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .logo-img {
        width: 25%;
    }

    #hero-image {
        width: 40%;
    }

    .humancontainer {
        width: 55%;
        margin: 0 auto;
        height: 350px;
        display: flex;
        flex-direction: row;
        overflow: visible;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.395);
        background-image: url('/images/ITCOMPLETEBANNER.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .humancontainer-wrapper-two {
        width: 100%;
        height: 80%;
        position: relative;
        z-index: 0;
        overflow: visible;
    }

    .humancontainer-wrapper-one-text h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    .alltitles {
        gap: 1rem;
        height: 300px;
    }

    .maintitle {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    .inner-conecte {
        line-height: 3rem;
    }

    .subtitle {
        font-size: 1.1rem;
        font-weight: 300;
        width: 40%;
        text-align: center;
    }

    .conecte.one {
        font-size: 2rem;
        text-align: center;
    }

    .conecte.two {
        font-size: 3.3rem;
        text-align: center;

    }

    .conecte.three {
        font-size: 4rem;
        text-align: center;
    }
}

.section-service {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 8rem;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.section-service::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.section-service .container {
    position: relative;
    z-index: 2;
}